form {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 100px;
}

.button-container {
    display: flex;
    flex-direction: row;
}
