<form [formGroup]="noteForm" (submit)="onSubmit()" action="javacript:;">
    <mat-form-field>
        <mat-label translate>app.field.title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>

    <div class="button-container">
        <button [disabled]="!noteForm.valid || working" type="submit" mat-raised-button color="primary">{{ "app.action.save" | translate }}</button>
        <button [disabled]="working" type="button" mat-raised-button (click)="onCancel()">{{ "app.action.cancel" | translate }}</button>&nbsp;&nbsp;
        <mat-progress-spinner *ngIf="working" mode="indeterminate" diameter="32"></mat-progress-spinner>
    </div>
</form>
