<mat-form-field>
    <mat-label translate="">app.language</mat-label>
    <mat-select [value]="translate.currentLang" (valueChange)="onLanguageChanged($event)">
        <mat-option *ngFor="let lang of translate.langs" [value]="lang">
            {{lang}}
        </mat-option>
    </mat-select>
</mat-form-field>
